[submodule "website"]
	path = website
	url = https://github.com/fireact-dev/website.git
[submodule "docs"]
	path = docs
	url = https://github.com/fireact-dev/docs.git
[submodule "source"]
	path = source
	url = https://github.com/fireact-dev/source.git
[submodule "demo"]
	path = demo
	url = https://github.com/fireact-dev/demo.git
